body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  max-width: 55rem;
  padding: 1.5em;
  background-color: #f6f6f6;
  margin: auto;
}

label,
input {
  display: block;
  margin: 10px 0;
}

button {
  background-color: #d30052;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #ff0767;
  transition: 0.2s;
}

header {
  text-align: center;
  padding: 1.6rem;
  margin-bottom: 1rem;
}

.ms-logo {
  max-height: 35px;
  margin: 0 auto; /* Center the logo horizontally */
}

table {
  border-collapse: collapse;
  margin: auto;
}
table td {
  color: var(--tty-color, #000080);
  font: 14px monospace;
}
table th,
td {
  vertical-align: middle;
  padding: 2px 12px;
}

table tr:hover {
  border: 1px solid grey;
}
table th {
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  text-align: center;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: normal;
  align-items: stretch;
  align-content: normal;
  gap: 200px;
}

.flex-items:nth-child(1) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

.flex-items:nth-child(2) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

/* Add media query for smaller screens */
@media (max-width: 1250px) {
  .flex-container {
    flex-direction: column;
  }
}
